################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS489HW7/CS489HW7/mnist_train.csv
